html {
    min-width: 600px;
}

.container {
    background: rgb(0,0,0);
}

.container::after {
    filter: blur(5px);
}

#text {
    color: rgb(255,255,255);
    font-family: Monda;
    font-size: 60px;
}

#click_box {
    position: absolute;
    top: 10vw;
    left: 27.5vw;

    width: 45vw;
    height: 27vw;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.1);
}

/*Textarea*/
#text_box {
    background: rgba(0,0,0,0);
    border: none;
    outline: none;
    width: 85vw;
    height: 24vw;

    font-size: 24px;
    color: rgb(255,255,255);

    resize: none;
    overflow: auto;
    overflow-x: hidden;
}

/*Footer*/
footer {
    position: fixed;
    left: 30%;
    right: 30%;
    bottom: 0;
    min-width: 200px;
}

#foot {
    font-family: Monda;
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
    color: white;
}

/*Buttons*/
.favicon {
    width: 50px;
    height: 50px;
    color: rgb(255,255,255);
    background: rgba(0,0,0,0);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.favicon:hover {
    background: rgba(255,255,255,0.1);
}

#resourcesBTN {
    color: rgb(232,16,81);
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
}

.modal_content {
    background: rgb(255,255,255);
    position: relative;
    margin: 9% auto;
    padding: 30px;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    overflow: auto;
    max-width: 100%;
}

.closeBTN {
    color: rgba(0,0,0,0.6);
    float: right;
    font-size: 28px;
}

.closeBTN:hover, .closeBTN:focus {
    color: rgb(0,0,0);
    cursor: pointer;
}

.modal_head {
    font-family: Monda;
    font-size: 30px;
    margin-bottom: 0px;
}

.modal_text {
    font-family: Monda;
    font-size: 20px;
}

table {
    font-family: Monda;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

td {
    padding-left: 20px;
    width: 250px;
}

.rescBTN {
    background: rgba(0,0,0,0);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0,0,0);
}

.rescBTN:hover {
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}